
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: grey;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

header h2 {
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: grey;
    text-decoration: none;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: grey;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #333;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: cadetblue;
}

figure {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
